.atomosflex {
  display: flex;
  flex-direction: column;
  background-color: #50d0ff;
}

.menu {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #50d0ff;
  max-height: 15vh;
  width: 100%;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  transition-duration: 0.5s;
}
.menu .menu-item {
  position: relative;
  border: 3px solid #1F2833;
  border-radius: 8px 8px 8px 8px;
  text-align: center;
  min-height: 0vh;
  max-height: 10vh;
  height: 8vh;
  min-width: 5em;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 3%;
  transition-duration: 0.5s;
  list-style-type: none;
}
.menu .menu-item span {
  color: #1F2833;
  font-family: "Dosis", sans-serif;
  font-size: 35px;
  font-weight: bolder;
}
.menu .menu-item .submenu-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1fc3ff;
  border-radius: 8px;
  cursor: pointer;
}
.menu .menu-item .submenu-main .line {
  display: inline-block;
  min-height: 0vh;
  min-width: 0em;
  border: solid #1F2833;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate3d(0, 0, 1, 45deg);
  transition-duration: 1s;
}
.menu .menu-item .submenu {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: -4%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition-duration: 1s;
}
.menu .menu-item .submenu .submenu-item {
  text-align: left;
  min-width: 7em;
  background-color: #2a62a2;
  z-index: 1;
  border: 3px solid #1F2833;
  border-radius: 0px 5px 5px 0px;
  max-height: 2.5vh;
}
.menu .menu-item .submenu .submenu-item span {
  font-size: 17px;
}
.menu .menu-item .submenu .submenu-item:last-child {
  border-radius: 0px 5px 5px 5px;
}
.menu #expandir-menu {
  z-index: 0;
  border: none;
  outline: none;
  background-color: #50d0ff;
  width: 160%;
  min-height: 3vh;
  position: relative;
  transition-duration: 1s;
}
.menu #expandir-menu .line {
  border: solid #1F2833;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate3d(0, 0, 1, -135deg);
  transition-duration: 1s;
}
.menu button:hover {
  transition-duration: 1s;
}

.menu-item:hover {
  border-radius: 8px 8px 8px 0px;
}
.menu-item:hover .submenu-main {
  border-radius: 8px 8px 8px 0px;
}
.menu-item:hover .submenu-main .line {
  margin-top: -1%;
  border: solid #1F2833;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate3d(0, 0, 1, -135deg);
  transition-duration: 1s;
}
.menu-item:hover .submenu {
  display: flex;
  opacity: 1;
  transition-duration: 1s;
}

.encogido {
  max-height: 0vh;
  transition-duration: 0.5s;
}
.encogido .menu-item {
  max-height: 0vh;
  margin-top: 0%;
  margin-bottom: 0%;
  border: none;
  transition-duration: 0.5s;
}
.encogido .menu-item .submenu-main .line {
  display: none;
}
.encogido .menu-item .submenu {
  display: none;
}
.encogido .menu-item .submenu .submenu-item {
  display: none;
}
.encogido #expandir-menu {
  transition-duration: 1s;
}
.encogido #expandir-menu .line {
  transform: rotate3d(0, 0, 1, 45deg);
}

.form-table {
  z-index: -1;
  position: fixed;
  top: 51.64%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 97.4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-table div {
  height: 100%;
}
.form-table .activo {
  z-index: 0;
  width: 90%;
  transition: 0.7s;
}
.form-table .activo .table-filter {
  display: flex;
}
.form-table .activo .pestana {
  display: none;
}
.form-table .activo .contenido {
  display: flex;
}
.form-table .inactivo {
  z-index: 1;
  width: 10%;
  transition: 0.7s;
}
.form-table .inactivo .table-filter {
  display: flex;
}
.form-table .inactivo .pestana {
  display: flex;
}
.form-table .inactivo .contenido {
  display: none;
}

#atomosform {
  display: flex;
  flex-direction: column;
  background-color: #1F2833;
  order: 2;
}
#atomosform * {
  font-family: Arial, Helvetica, sans-serif;
  color: #4ec9c1;
}
#atomosform #ck {
  background-color: transparent;
}
#atomosform #expandir_form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 101%;
  background-color: #1F2833;
  transition-duration: 0.5s;
  border: none;
}
#atomosform #expandir_form:hover {
  width: 110%;
}
#atomosform .menu-pestana {
  position: absolute;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: transparent;
  margin-top: 0%;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  width: 90%;
  height: 10%;
}
#atomosform .menu-pestana li {
  display: block;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  color: #1F2833;
  background-color: #4ec9c1;
}
#atomosform .menu-pestana li:hover {
  background-color: #2a8982;
}
#atomosform .menu-pestana li:first-child:nth-last-child(1) {
  width: 100%;
}
#atomosform .menu-pestana li:first-child:nth-last-child(2),
#atomosform .menu-pestana li:first-child:nth-last-child(2) ~ li {
  width: 45%;
}
#atomosform .menu-pestana li:first-child:nth-last-child(3),
#atomosform .menu-pestana li:first-child:nth-last-child(3) ~ li {
  width: 28.3333%;
}
#atomosform .menu-pestana li:first-child:nth-last-child(4),
#atomosform .menu-pestana li:first-child:nth-last-child(4) ~ li {
  width: 20%;
}
#atomosform form {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  justify-content: row;
  flex-direction: column;
  border: 4px solid #4ec9c1;
}
#atomosform form .menu-pestana {
  z-index: 80;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: transparent;
  margin-top: 0%;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  width: 100%;
  height: 7%;
}
#atomosform form .menu-pestana li {
  display: block;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  color: #1F2833;
  background-color: #4ec9c1;
}
#atomosform form .menu-pestana li:hover {
  background-color: #2a8982;
}
#atomosform form .menu-pestana li:first-child:nth-last-child(1) {
  width: 100%;
}
#atomosform form .menu-pestana li:first-child:nth-last-child(2),
#atomosform form .menu-pestana li:first-child:nth-last-child(2) ~ li {
  width: 45%;
}
#atomosform form .menu-pestana li:first-child:nth-last-child(3),
#atomosform form .menu-pestana li:first-child:nth-last-child(3) ~ li {
  width: 28.3333%;
}
#atomosform form .menu-pestana li:first-child:nth-last-child(4),
#atomosform form .menu-pestana li:first-child:nth-last-child(4) ~ li {
  width: 20%;
}
#atomosform form .pestana {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#atomosform form .pestana .drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}
#atomosform form .pestana .drop-zone--over {
  border-style: solid;
}
#atomosform form .pestana .drop-zone__input {
  display: none;
}
#atomosform form .pestana .drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}
#atomosform form .pestana .drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
#atomosform form .pestana input[type=text] {
  background-color: transparent;
  border: 2px solid whitesmoke;
  opacity: 0.2;
  font-size: 18px;
  transition-duration: 0.1s;
  outline: none;
}
#atomosform form .pestana input[type=text]:hover {
  opacity: 0.5;
  transition-duration: 0.1s;
}
#atomosform form .pestana input[type=text]:focus {
  opacity: 1;
}
#atomosform form .pestana textarea {
  border: 2px solid whitesmoke;
  opacity: 0.2;
  font-size: 18px;
  transition-duration: 0.1s;
  outline: none;
}
#atomosform form .pestana textarea:hover {
  opacity: 0.5;
  transition-duration: 0.1s;
}
#atomosform form .pestana textarea:focus {
  opacity: 1;
}
#atomosform form .pestana #category {
  background-color: transparent;
  border: 2px solid whitesmoke;
  opacity: 0.2;
  font-size: 18px;
  transition-duration: 0.1s;
  outline: none;
}
#atomosform form .pestana #category .category_id {
  background-color: transparent;
  border: 2px solid whitesmoke;
  opacity: 0.2;
  font-size: 18px;
  transition-duration: 0.1s;
  outline: none;
}
#atomosform form .pestana #category:hover {
  opacity: 0.5;
  transition-duration: 0.1s;
}
#atomosform form .pestana #category:focus {
  opacity: 1;
}
#atomosform form .pestana label {
  font-size: 18px;
}
#atomosform form .inactivo {
  display: none;
}
#atomosform form .activo {
  display: flex;
}
#atomosform form .modify-form {
  display: flex;
  flex-direction: row;
  z-index: 3;
  width: 100%;
  height: 50%;
}
#atomosform form .modify-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background-color: #4ec9c1;
  border: 2px solid #4ec9c1;
  width: 100%;
}
#atomosform form .modify-form div * {
  position: relative;
  color: #1F2833;
  width: 40%;
  height: 40%;
}
#atomosform .activo {
  display: flex;
}

::-moz-placeholder {
  color: #45A29E;
}

:-ms-input-placeholder {
  color: #45A29E;
}

::placeholder {
  color: #45A29E;
}

#atomostable {
  background-color: #50d0ff;
  order: 1;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#atomostable * {
  font-family: Arial, Helvetica, sans-serif;
  color: #1F2833;
}
#atomostable #expandir_tabla {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 101%;
  background-color: #50d0ff;
  transition-duration: 0.5s;
  border: none;
}
#atomostable #expandir_tabla:hover {
  width: 110%;
}
#atomostable #table {
  position: relative;
  width: 100%;
  height: 100%;
}
#atomostable #table #table-table {
  overflow-x: scroll;
  display: flex;
  background-color: #50d0ff;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  border-collapse: collapse;
}
#atomostable #table #table-table .cabeceras {
  max-height: 10%;
  display: flex;
  flex-direction: row;
}
#atomostable #table #table-table .cabeceras .cabecera {
  min-width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#atomostable #table #table-table .cabeceras .cabecera span {
  flex-grow: 1;
}
#atomostable #table #table-table .cabeceras .cabecera .arrow-up {
  width: 0;
  height: 0;
  opacity: 0.3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1F2833;
}
#atomostable #table #table-table .cabeceras .cabecera .arrow-down {
  width: 0;
  height: 0;
  opacity: 0.3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1F2833;
}
#atomostable #table #table-table .fila {
  max-height: 10%;
  display: flex;
  flex-direction: row;
}
#atomostable #table #table-table .fila .casilla {
  min-width: 20%;
  text-align: center;
}
#atomostable #table #table-table .fila .botones button {
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: none;
  width: 50%;
  height: 100%;
}
#atomostable #table #table-table .fila .botones .edit {
  background-color: #79ff79;
}
#atomostable #table #table-table .fila .botones .delete {
  background-color: #ff7b7b;
}
#atomostable #table #table-table .fila .botones .edit:hover {
  background-color: lime;
}
#atomostable #table #table-table .fila .botones .delete:hover {
  background-color: red;
}
#atomostable #table #table-table .fila:nth-child(even) {
  background-color: #9ee5ff;
}
#atomostable #table nav {
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
#atomostable::-webkit-scrollbar {
  width: 10px;
}
#atomostable::-webkit-scrollbar-track {
  background: #50d0ff;
}
#atomostable::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #1F2833;
  box-shadow: inset 0 0 5px #7189a8;
}
#atomostable::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px #44576f;
  background: #131920;
}

.table-filter {
  position: fixed;
  z-index: 4;
  height: 90%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  background-color: #0087b8;
}
.table-filter .table-filter-container {
  min-width: 0em;
  width: 0em;
  transition: 0.25s all ease-in-out;
}
.table-filter .table-filter-container form {
  display: none;
}
.table-filter .table-filter-buttons {
  background-color: #50d0ff;
}
.table-filter .table-filter-buttons .table-filter-button {
  background-color: #0087b8;
  border-top: 6px solid #0087b8;
  border-right: 3px solid #0087b8;
  border-radius: 0px 500px 500px 0px;
  position: relative;
  top: 45%;
  display: none;
}
.table-filter .table-filter-buttons .button-active {
  display: inline;
}

.filter-active .table-filter-container {
  width: 10em;
  transition: 0.25s all ease-in-out;
}
.filter-active .table-filter-container form {
  display: block;
}

.table-pagination {
  position: absolute;
  top: 80%;
  display: flex;
}
.table-pagination .table-pagination-info {
  display: flex;
  justify-content: space-between;
}
.table-pagination .table-pagination-buttons .table-pagination-button {
  cursor: pointer;
}

.messages-container {
  position: fixed;
  bottom: 5vh;
  right: 3%;
  width: 30%;
  z-index: 3;
}
.messages-container.show {
  transform: translateX(-50%);
}
.messages-container .message {
  display: none;
  text-align: left;
  padding: 2em 0;
  background-color: white;
  border-radius: 4px;
  max-width: 100%;
  top: 0px;
  position: relative;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}
.messages-container .message.success.message-active {
  display: block;
}
.messages-container .message.info.message-active {
  display: block;
}
.messages-container .message.error.message-active {
  display: block;
}
.messages-container .message.reorder.message-active {
  display: block;
}
.messages-container .message:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.messages-container .message.success .message-icon {
  background-color: greenyellow;
}
.messages-container .message.success:before {
  background-color: greenyellow;
}
.messages-container .message.info .message-icon {
  background-color: turquoise;
}
.messages-container .message.info:before {
  background-color: turquoise;
}
.messages-container .message.reorder .message-icon {
  background-color: turquoise;
}
.messages-container .message.reorder:before {
  background-color: turquoise;
}
.messages-container .message.error .message-icon {
  background-color: red;
}
.messages-container .message.error:before {
  background-color: red;
}
.messages-container .message .message-icon {
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  left: 1.5em;
  padding: 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}
.messages-container .message .message-icon svg {
  fill: #fff;
}
.messages-container .message .message-content {
  padding: 0 4em;
}
.messages-container .message .message-content .message-type {
  color: #3d3d3d;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.messages-container .message .message-content .message-description {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}
.messages-container .message .message-close {
  cursor: pointer;
  fill: #3d3d3d;
  height: 1.5em;
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

.image-info {
  max-height: 80%;
  width: 52.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.image-info .thumbnail {
  z-index: 998;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
}
.image-info .thumbnail .text {
  font-style: oblique;
}
.image-info .form {
  height: 30%;
  display: block;
}
.image-info .form label {
  display: block;
}

.upload {
  z-index: 0;
  align-items: center;
  border: 0.2em dashed #02a8b1;
  color: #cccccc;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  max-height: 80%;
  width: 32.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  justify-content: center;
  text-align: center;
}

.upload-over {
  border-style: solid;
}

.upload-prompt {
  position: absolute;
  width: 15%;
  z-index: 999;
}

.upload-file {
  display: flex;
  z-index: 99;
  cursor: pointer;
  max-height: 15%;
  width: 25%;
  border-radius: 10px;
  background-color: #cccccc;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}
.upload-file span {
  font-size: 24px;
  font-weight: bolder;
  color: darkgray;
}
.upload-file .upload-input {
  display: none;
}

.container {
  z-index: 98;
  display: flex;
  width: 100%;
  height: 100%;
}
.container .upload-thumb {
  margin-left: 1%;
  margin-right: 1%;
  z-index: 99;
  max-width: 25%;
  max-height: 15%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
}
.container .upload-thumb::after {
  content: attr(data-label);
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.container .add-image {
  z-index: 99;
  max-width: 25%;
  max-height: 15%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
}

#menu-item-modal {
  background-color: white;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  justify-content: space-between;
  left: 35%;
  padding: 2em 1em;
  position: fixed;
  top: -100vh;
  transition: top 0.3s;
  width: 30%;
  z-index: 3000;
}

#menu-item-modal.modal-active {
  top: 20vh;
  transition: top 0.3s;
}

.modal-menu-item-store-button {
  cursor: pointer;
  float: right;
  padding-top: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.modal-menu-item-store-button:hover .store-button-icon {
  fill: #ff5100;
}
.modal-menu-item-store-button svg {
  float: right;
  height: 2.4em;
  width: 2.4em;
}
.modal-menu-item-store-button svg .store-button-icon {
  fill: gray;
}

.modal-menu-item-delete-button {
  bottom: 1em;
  cursor: pointer;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.modal-menu-item-delete-button p {
  color: red;
  text-decoration: underline;
}
