.atomosflex {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    background-color: #1F2833;

    .faq {    
        display: flex;
        flex-wrap: wrap;
        border: 2px solid #1F2833;
        border-radius: 10px;
        background-color: #50d0ff;
        width: 80%;
        color: #1F2833;   
        .title {            
            font-size: 30px;
            font-weight: bold;
            width: 93%;
            margin-left: 2%;
        }
        
        .expandir-faq {
            background-color: hsl(196, 96%, 55%);
            border-left: 2px solid #1F2833;    
            border-bottom: none;        
            border-top: none;
            border-right: none;
            border-radius: 0px 10px 10px 0px;
            width: 5%;
            outline: none;
            .linea {                       
                position: relative;
                left: 50%;
                transform: translate(-50%);
                width: 50%;
                height: 50%;
                cursor: pointer;

                &.active {
                    &:before {
                        transform: translatey(-50%) rotate(-90deg);
                        opacity: 0;
                    }
                    &:after {
                        transform: translatey(-50%) rotate(0);
                    }
                }
                
                &:before , &:after {
                    content: "";
                    display: block;
                    background-color: #333;
                    position: absolute;		
                    top: 50%; left: 0;
                    transition: .35s;
                    width: 100%;
                    height: 3px;
                }
                
                &:before {		
                    transform: translatey(-50%);
                }
                
                &:after {
                    transform: translatey(-50%) rotate(90deg);
                }
            }
        }

        .extendido {
            border-bottom: 2px solid #1F2833;
            border-radius: 0px 10px 0px 0px;            
        }

        .info {
            display: flex;
            max-height: 100vh;
            height: 40vh;
            width: 100%;
            transition-duration:  .4s;

            .description {                
                font-size: 20px;                
                margin-left: 2%;
                overflow: hidden;
                word-wrap: break-word;                        
            }

            .gallery {
                display: flex;
                margin-left: auto; 
                border-radius: 20px 0px 0px 20px;                                   
                background-color: #1F2833;
                position: relative;
                flex-wrap: wrap;
                width: 45%;
                height: 100%;
                .thumbnail-single {    
                    flex-grow: 10;
                    border-radius: 20px;                                   
                    background-color: grey;
                    width: 100%;
                    height: 75%;
                    float: right;                
                }

                .thumbnail-grid {                    
                    border-radius: 20px;                                   
                    background-color: lightgray;
                    width: 25%;
                    height: 25%;
                }
            }            
        }

        .inactivo {
            max-height: 0vh;
            transition-duration:  .4s;
        }

    }
}