.image-info {
    max-height: 80%;
    width: 52.5%;    
    margin-left: 2.5%;
    margin-right: 2.5%;

    .thumbnail {
        z-index: 998;
        height: 70%;        
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;        
        background-size: cover;
        .text {
            font-style: oblique;
        }
    }

    .form {
        label {
            display: block;
        }
        height: 30%;
        display: block;
    }
}

.upload {   
    z-index: 0;     
    align-items: center;
    border: 0.2em dashed hsl(183, 98%, 35%);
    color: #cccccc;    
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    max-height: 80%;
    width: 32.5%;    
    margin-left: 2.5%;
    margin-right: 2.5%;
    justify-content: center;    
    text-align: center;
}
  
.upload-over {
    border-style: solid;
}

.upload-prompt{
    position: absolute;
    width: 15%;
    z-index: 999;
}

.upload-file {       
    display: flex;
    z-index: 99;
    cursor: pointer;
    max-height: 15%;
    width: 25%;    
    border-radius: 10px;
    background-color: #cccccc;    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    span {
        font-size: 24px;
        font-weight: bolder;
        color: darkgray;
    }

    .upload-input {
        display: none;
    }
}

.container {
    z-index: 98;
    display: flex;
    width: 100%;
    height: 100%;

    .upload-thumb {
        margin-left: 1%;
        margin-right: 1%;
        z-index: 99;
        max-width: 25%;
        max-height: 15%;
        border-radius: 10px;
        overflow: hidden;
        background-color: #cccccc;
        background-size: cover;        
    }
    
    .upload-thumb::after {
        content: attr(data-label);
        z-index: 99;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 14px;
        text-align: center;
    }

    .add-image {
        z-index: 99;
        max-width: 25%;
        max-height: 15%;
        border-radius: 10px;
        overflow: hidden;
        background-color: #cccccc;
        background-size: cover;
    }

}