
.atomosflex {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;                
    
}
.atomosflex > div {                
    height: 100%;                
}
.activo {
    z-index: 0;
    width: 90%;
    transition: width .7s;                
}
.inactivo {
    z-index: 1;
    width: 10%; 
    transition: width .7s;               
}

/*#region Formulario*/

#atomosform {
    background-color:#1F2833;
}

#atomosform * {
    font-family: Arial, Helvetica, sans-serif;
    color: #4ec9c1;
}

#atomosform > form {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

#atomosform > form > input[type=text]{
    background-color: transparent;
    border: 2px solid whitesmoke;
    opacity: 0.2;
    transition-duration: 0.1s;
}

#atomosform > form > input[type=text]:hover{                
    opacity: 0.5;
    transition-duration: 0.1s;
}

#atomosform > form > input[type=text]:focus{
    opacity: 1;
}

::placeholder {
    color: #45A29E;
}

/*#endregion Formulario*/

/*#region Tabla*/

#atomostabla {
    background-color: #50d0ff;
}

#atomostabla * {
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2833;
}

#atomostabla > table {
    display: none;
    background-color: #50d0ff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;  
    border-collapse: collapse;              
}

#atomostabla > th, td {
    border: 3px solid #50d0ff;
    width: 33%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #9ee5ff;
}

#edit {
    background-color: rgb(121, 255, 121);
}

#delete {
    background-color: rgb(255, 123, 123);
}

#edit:hover {
    background-color: rgb(0, 255, 0);
}

#delete:hover {
    background-color: rgb(255, 0, 0);
}

#edit > button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

#delete > button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}


/*#endregion Tabla*/

/*#region Botones*/





/*#endregion Botones*/        