@charset "UTF-8";
.menu {
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #50d0ff;
  max-height: 15vh;
  width: 100%;
  transition-duration: 0.5s;
}
.menu .menu-item {
  color: #1F2833;
  border: 2px solid #1F2833;
  border-radius: 5px;
  text-align: center;
  min-height: 0vh;
  max-height: 10vh;
  height: 8vh;
  width: 7em;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 3%;
  margin-left: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bolder;
  transition-duration: 0.5s;
}
.menu #expandir-menu {
  z-index: 0;
  border: none;
  outline: none;
  background-color: #50d0ff;
  width: 100%;
  min-height: 3vh;
  position: relative;
  transition-duration: 1s;
}
.menu #expandir-menu .line {
  margin-top: 1%;
  border: solid #1F2833;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate3d(0, 0, 1, 45deg);
  transition-duration: 1s;
}
.menu button:hover {
  transition-duration: 1s;
}

.encogido {
  max-height: 0vh;
  transition-duration: 0.5s;
}
.encogido .menu-item {
  max-height: 0vh;
  margin-top: 0%;
  margin-bottom: 0%;
  border: none;
  transition-duration: 0.5s;
}
.encogido #expandir-menu {
  transition-duration: 1s;
}
.encogido #expandir-menu .line {
  transform: rotate3d(0, 0, 1, -135deg);
}

.atomosflex {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F2833;
}
.atomosflex .faq {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #1F2833;
  border-radius: 10px;
  background-color: #50d0ff;
  width: 80%;
  color: #1F2833;
}
.atomosflex .faq .title {
  font-size: 30px;
  font-weight: bold;
  width: 93%;
  margin-left: 2%;
}
.atomosflex .faq .expandir-faq {
  background-color: #1ec0fa;
  border-left: 2px solid #1F2833;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0px 10px 10px 0px;
  width: 5%;
  outline: none;
}
.atomosflex .faq .expandir-faq .linea {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 50%;
  cursor: pointer;
}
.atomosflex .faq .expandir-faq .linea.active:before {
  transform: translatey(-50%) rotate(-90deg);
  opacity: 0;
}
.atomosflex .faq .expandir-faq .linea.active:after {
  transform: translatey(-50%) rotate(0);
}
.atomosflex .faq .expandir-faq .linea:before, .atomosflex .faq .expandir-faq .linea:after {
  content: "";
  display: block;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.35s;
  width: 100%;
  height: 3px;
}
.atomosflex .faq .expandir-faq .linea:before {
  transform: translatey(-50%);
}
.atomosflex .faq .expandir-faq .linea:after {
  transform: translatey(-50%) rotate(90deg);
}
.atomosflex .faq .extendido {
  border-bottom: 2px solid #1F2833;
  border-radius: 0px 10px 0px 0px;
}
.atomosflex .faq .info {
  display: flex;
  max-height: 100vh;
  height: 40vh;
  width: 100%;
  transition-duration: 0.4s;
}
.atomosflex .faq .info .description {
  font-size: 20px;
  margin-left: 2%;
  overflow: hidden;
  word-wrap: break-word;
}
.atomosflex .faq .info .gallery {
  display: flex;
  margin-left: auto;
  border-radius: 20px 0px 0px 20px;
  background-color: #1F2833;
  position: relative;
  flex-wrap: wrap;
  width: 45%;
  height: 100%;
}
.atomosflex .faq .info .gallery .thumbnail-single {
  flex-grow: 10;
  border-radius: 20px;
  background-color: grey;
  width: 100%;
  height: 75%;
  float: right;
}
.atomosflex .faq .info .gallery .thumbnail-grid {
  border-radius: 20px;
  background-color: lightgray;
  width: 25%;
  height: 25%;
}
.atomosflex .faq .inactivo {
  max-height: 0vh;
  transition-duration: 0.4s;
}

.scene {
  width: 300px;
  height: 360px;
}
.scene .card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  font-family: Arial, Helvetica;
}
.scene .card .card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 25px;
}
.scene .card .--front {
  background: red;
}
.scene .card .--front img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.scene .card .--back {
  display: flex;
  background-color: bisque;
  transform: rotateY(180deg);
}
.scene .card .--back .title {
  padding: 0px 25px 3px 25px;
  height: 20%;
  font-weight: bold;
  font-size: 35px;
  vertical-align: bottom;
  text-align: center;
}
.scene .card .--back .leech-name {
  padding: 0px 25px 0px 25px;
  height: 10%;
  font-size: 20px;
  color: #404040;
  vertical-align: middle;
}
.scene .card .--back .description {
  padding: 0px 25px 0px 25px;
  height: 50%;
  vertical-align: middle;
  text-align: justify;
}
.scene .card .--back .buy {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
}
.scene .card .--back .buy .buy-item {
  width: 70%;
}
.scene .card .--back .buy .buy-item .buy-now {
  width: 100%;
  height: 7vh;
  display: inline-block;
  border-radius: 25px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.scene .card .--back .buy .buy-item .buy-now span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.scene .card .--back .buy .buy-item .buy-now span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.scene .card .--back .buy .buy-item .buy-now:hover span {
  padding-right: 25px;
}
.scene .card .--back .buy .buy-item .buy-now:hover span:after {
  opacity: 1;
  right: 0;
}
.scene .card .--back .buy .price {
  font-weight: bold;
  font-size: 24px;
  width: 30%;
  text-align: right;
}
.scene .card.is-flipped {
  transform: rotateY(180deg);
}

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  width: 90%;
  height: 90%;
}
.product .gallery {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkred;
}
.product .gallery .main-image {
  height: 80%;
  width: 100%;
}
.product .gallery .main-image img {
  height: 100%;
}
.product .gallery .grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 20%;
}
.product .gallery .grid .grid-image img {
  height: 100%;
}
.product .gallery .grid .grid-image:first-child:nth-last-child(1) {
  width: 100%;
}
.product .gallery .grid .grid-image:first-child:nth-last-child(2),
.product .gallery .grid .grid-image:first-child:nth-last-child(2) ~ .grid-image {
  width: 45%;
}
.product .gallery .grid .grid-image:first-child:nth-last-child(3),
.product .gallery .grid .grid-image:first-child:nth-last-child(3) ~ .grid-image {
  width: 28.3333%;
}
.product .gallery .grid .grid-image:first-child:nth-last-child(4),
.product .gallery .grid .grid-image:first-child:nth-last-child(4) ~ .grid-image {
  width: 20%;
}
.product .product-details {
  width: 50%;
  background-color: beige;
}
.product .product-details .title {
  padding-left: 10px;
  font-size: 78px;
  text-align: center;
}
.product .product-details .price {
  padding-left: 10px;
  font-size: 38px;
}
.product .product-details .price span {
  font-size: 58px;
  color: crimson;
}
.product .product-details .scientific-name {
  padding-left: 10px;
}
.product .product-details .scientific-name h3 {
  color: #404040;
}
.product .product-details .common-name {
  padding-left: 10px;
}
.product .product-details .common-name h3 {
  color: #404040;
}
.product .product-details .description {
  padding-left: 10px;
}
.product .product-details .description h3 {
  color: #404040;
}
.product .product-details .buy {
  display: flex;
  flex-direction: row;
  height: 20%;
}
.product .product-details .buy .buy-item {
  width: 50%;
}
.product .product-details .buy .buy-item .buy-now {
  width: 90%;
  height: 6vh;
  display: inline-block;
  border-radius: 25px;
  background-color: #f99d80;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.product .product-details .buy .buy-item .buy-now span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.product .product-details .buy .buy-item .buy-now span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.product .product-details .buy .buy-item .buy-now:hover span {
  padding-right: 25px;
}
.product .product-details .buy .buy-item .buy-now:hover span:after {
  opacity: 1;
  right: 0;
}
.product .product-details .buy .buy-item .add-cart {
  width: 90%;
  height: 6vh;
  display: inline-block;
  border-radius: 25px;
  background-color: #ffe366;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.product .product-details .buy .buy-item .add-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.product .product-details .buy .buy-item .add-cart span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.product .product-details .buy .buy-item .add-cart:hover span {
  padding-right: 25px;
}
.product .product-details .buy .buy-item .add-cart:hover span:after {
  opacity: 1;
  right: 0;
}

.table-filter {
  display: none;
  z-index: 4;
  height: 90%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  background-color: #0087b8;
}
.table-filter .table-filter-container {
  min-width: 0em;
}
.table-filter .table-filter-container form {
  display: none;
}
.table-filter .table-filter-buttons {
  background-color: #50d0ff;
}
.table-filter .table-filter-buttons .table-filter-button {
  background-color: #0087b8;
  border-top: 6px solid #0087b8;
  border-right: 3px solid #0087b8;
  border-radius: 0px 500px 500px 0px;
  position: relative;
  top: 45%;
  display: none;
}
.table-filter .table-filter-buttons .button-active {
  display: inline;
}

.filter-active .table-filter-container {
  width: 10em;
}
.filter-active .table-filter-container form {
  display: block;
}
