.atomosflex {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.atomosflex div {
  height: 100%;
}

.activo {
  z-index: 0;
  width: 90%;
  transition: width 0.7s;
}

.inactivo {
  z-index: 1;
  width: 10%;
  transition: width 0.7s;
}

#atomosform {
  background-color: #1F2833;
}
#atomosform * {
  font-family: Arial, Helvetica, sans-serif;
  color: #4ec9c1;
}
#atomosform #expandir_tabla {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #1F2833;
  transition-duration: 0.5s;
  border: none;
}
#atomosform #expandir_tabla:hover {
  width: 110%;
}
#atomosform form {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
#atomosform form input[type=text] {
  background-color: transparent;
  border: 2px solid whitesmoke;
  opacity: 0.2;
  font-size: 14px;
  transition-duration: 0.1s;
  outline: none;
}
#atomosform form input[type=text]:hover {
  opacity: 0.5;
  transition-duration: 0.1s;
}
#atomosform form input[type=text]:focus {
  opacity: 1;
}
#atomosform form #submit {
  z-index: 3;
  width: 100%;
  height: 10%;
}
#atomosform form #submit #bg {
  z-index: 2;
  position: relative;
  left: -5%;
  height: 100%;
  width: 0%;
  background-color: #4ec9c1;
  transform: skewX(-20deg);
  transition-duration: 0.3s;
}
#atomosform form #submit button[type=submit] {
  z-index: 4;
  position: fixed;
  background-color: transparent;
  border: 2px solid #4ec9c1;
  width: 100%;
  height: 10%;
  font-size: 30px;
}
#atomosform form #submit:hover #bg {
  width: 110%;
  transition-duration: 0.3s;
}
#atomosform form #submit:hover button[type=submit] {
  color: #1F2833;
}
#atomosform form label {
  font-size: 18px;
}

::-moz-placeholder {
  color: #45A29E;
}

:-ms-input-placeholder {
  color: #45A29E;
}

::placeholder {
  color: #45A29E;
}

#atomostable {
  background-color: #50d0ff;
}
#atomostable * {
  font-family: Arial, Helvetica, sans-serif;
  color: #1F2833;
}
#atomostable #expandir_form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #50d0ff;
  transition-duration: 0.5s;
  border: none;
}
#atomostable #expandir_form:hover {
  width: 110%;
}
#atomostable #table {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  border-collapse: collapse;
  overflow: auto;
}
#atomostable #table table {
  background-color: #50d0ff;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  border-collapse: collapse;
}
#atomostable #table table tr:nth-child(even) {
  background-color: #9ee5ff;
}
#atomostable #table table th, #atomostable #table table td {
  border: 3px solid #50d0ff;
  max-width: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#atomostable #table table .botones button {
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: none;
  width: 50%;
  height: 100%;
}
#atomostable #table table .botones button svg {
  width: 50%;
  height: 50%;
}
#atomostable #table table .botones .edit {
  background-color: #79ff79;
}
#atomostable #table table .botones .delete {
  background-color: #ff7b7b;
}
#atomostable #table table .botones .edit:hover {
  background-color: lime;
}
#atomostable #table table .botones .delete:hover {
  background-color: red;
}
