#atomosform {

    display: flex;
    flex-direction: column;
    background-color:#1F2833;   
    order: 2; 

    * {
        font-family: Arial, Helvetica, sans-serif;
        color: #4ec9c1;
        
    }  
    
    #ck {
        background-color: transparent;
    }

    #expandir_form {                   
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 101%;
        background-color:#1F2833;
        transition-duration: 0.5s;
        border:none;
        }

    #expandir_form:hover {
        width: 110%;
    }

    .menu-pestana {
        position: absolute;
        display: flex;
        flex-direction: row;                      
        list-style-type: none;        
        background-color: transparent;
        margin-top: 0%;
        padding-inline-start: 0px;       
        width: 90%;
        height: 10%;     
        li {                 
            display: block;
            border: 2px solid transparent;
            border-radius: 10px;
            margin-top: 1%;
            margin-left: 2%;
            margin-right: 2%;
            text-align: center;                   
            color: #1F2833;       
            background-color: #4ec9c1;                                              
        }            

        li:hover {
            background-color: hsl(176, 53%, 35%);                                              
        }

        li:first-child:nth-last-child(1) {
            width: 100%;
        }
                        
        li:first-child:nth-last-child(2),
        li:first-child:nth-last-child(2) ~ li {
            width: 45%;
        }   
                    
        li:first-child:nth-last-child(3),
        li:first-child:nth-last-child(3) ~ li {
            width: 28.3333%;
        }
                    
        li:first-child:nth-last-child(4),
        li:first-child:nth-last-child(4) ~ li {
            width: 20%;
        }
    }

    form {    
        display: none;    
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;        
        justify-content: row;
        flex-direction: column;

        border: 4px solid #4ec9c1;;        

        .menu-pestana {
            z-index: 80;
            display: flex;
            flex-direction: row;                      
            list-style-type: none;        
            background-color: transparent;
            margin-top: 0%;
            padding-inline-start: 0px;   
            width: 100%;         
            height: 7%;
            li {                 
                display: block;
                border: 2px solid transparent;
                border-radius: 10px;
                margin-top: 1%;
                margin-left: 2%;
                margin-right: 2%;
                text-align: center;                   
                color: #1F2833;       
                background-color: #4ec9c1;                                              
            }            

            li:hover {
                background-color: hsl(176, 53%, 35%);                                              
            }

            li:first-child:nth-last-child(1) {
                width: 100%;
            }
                            
            li:first-child:nth-last-child(2),
            li:first-child:nth-last-child(2) ~ li {
                width: 45%;
            }   
                        
            li:first-child:nth-last-child(3),
            li:first-child:nth-last-child(3) ~ li {
                width: 28.3333%;
            }
                        
            li:first-child:nth-last-child(4),
            li:first-child:nth-last-child(4) ~ li {
                width: 20%;
            }
        }
        
        .pestana {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;   
            align-items: center;     
            justify-content: center;
            flex-direction: row;

            .drop-zone {
                max-width: 200px;
                height: 200px;
                padding: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-family: "Quicksand", sans-serif;
                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
                color: #cccccc;
                border: 4px dashed #009578;
                border-radius: 10px;
            }
                
            .drop-zone--over {
                border-style: solid;
            }
                
            .drop-zone__input {
                display: none;
            }
                
            .drop-zone__thumb {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                background-color: #cccccc;
                background-size: cover;
                position: relative;
            }
                
            .drop-zone__thumb::after {
                content: attr(data-label);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 5px 0;
                color: #ffffff;
                background: rgba(0, 0, 0, 0.75);
                font-size: 14px;
                text-align: center;
            }

            input[type=text] {
                background-color: transparent;
                border: 2px solid whitesmoke;
                opacity: 0.2;
                font-size: 18px;
                transition-duration: 0.1s;
                outline: none;
            }
    
            input[type=text]:hover {
                opacity: 0.5;
                transition-duration: 0.1s;
            }
    
            input[type=text]:focus {
                opacity: 1;
            }
            
            textarea {            
                border: 2px solid whitesmoke;
                opacity: 0.2;
                font-size: 18px;
                transition-duration: 0.1s;
                outline: none;            
            }
    
            textarea:hover {
                opacity: 0.5;
                transition-duration: 0.1s;
            }
    
            textarea:focus {
                opacity: 1;
            }
            
    
            #category {
                background-color: transparent;
                border: 2px solid whitesmoke;
                opacity: 0.2;
                font-size: 18px;
                transition-duration: 0.1s;
                outline: none;
    
                .category_id {
                    background-color: transparent;
                    border: 2px solid whitesmoke;
                    opacity: 0.2;
                    font-size: 18px;
                    transition-duration: 0.1s;
                    outline: none;
                }
            }
    
            #category:hover {
                opacity: 0.5;
                transition-duration: 0.1s;
            }
    
            #category:focus {
                opacity: 1;
            }            
    
            label {
                font-size: 18px;
            }
        }
        
        .inactivo {
            display: none;
        }

        .activo {
            display:flex;
        }

        .modify-form {            
            display: flex;
            flex-direction: row;
            z-index: 3;            
            width: 100%;
            height: 50%;            
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 4;                    
                background-color: #4ec9c1;                    
                border:2px solid #4ec9c1;                                
                width: 100%;
                * {           

                    position: relative;                                
                    color: #1F2833;
                    width: 40%;
                    height: 40%;                    
                }
            }
                                                           
        }
        
        
    }

    .activo {
        display: flex;
    }
}

::placeholder {
    color: #45A29E;
}

