.form-table {
    z-index: -1;
    position: fixed;
    top: 51.64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 97.40%;
    display: flex;
    flex-direction: row;
    justify-content: center;                
    
    div {
        height: 100%;                
    }
}
 
.activo {
    z-index: 0;
    width: 90%;
    transition: width .7s;                
}
.inactivo {
    z-index: 1;
    width: 10%; 
    transition: width .7s;               
}

.table-filter {
    z-index: 4;    
    height: 90%;
    width: max-content;
    display: flex;
    align-items: center;         
    background-color:hsl(196, 100%, 36%);    
    
    .table-filter-buttons {                
        background-color:#50d0ff;         
        .table-filter-button {
            
            display: none;            
        }

        .button-active {            
            background-color:hsl(196, 100%, 36%);    
            border-radius: 0px 500px 500px 0px;
            position: relative;    
            top: 50%;
            transform: translateY(-50%);
            display: inline;
        }
        
    }

}