#atomosform {
    background-color:#1F2833;
        
    * {
        font-family: Arial, Helvetica, sans-serif;
        color: #4ec9c1;
        background-color: transparent;
    }    

    #expandir_tabla {
        
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color:#1F2833;
        transition-duration: 0.5s;
        border:none;
        }    

    form {
        display: none;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 100%;        
        justify-content: center;
        flex-direction: column;

        input[type=text] {
            background-color: transparent;
            border: 2px solid whitesmoke;
            opacity: 0.2;
            font-size: 18px;
            transition-duration: 0.1s;
            outline: none;
        }

        input[type=text]:hover {
            opacity: 0.5;
            transition-duration: 0.1s;
        }

        input[type=text]:focus {
            opacity: 1;
        }
        
        textarea {            
            border: 2px solid whitesmoke;
            opacity: 0.2;
            font-size: 18px;
            transition-duration: 0.1s;
            outline: none;            
        }

        textarea:hover {
            opacity: 0.5;
            transition-duration: 0.1s;
        }

        textarea:focus {
            opacity: 1;
        }
        

        #category {
            background-color: transparent;
            border: 2px solid whitesmoke;
            opacity: 0.2;
            font-size: 18px;
            transition-duration: 0.1s;
            outline: none;

            .category_id {
                background-color: transparent;
                border: 2px solid whitesmoke;
                opacity: 0.2;
                font-size: 18px;
                transition-duration: 0.1s;
                outline: none;
            }
        }

        #category:hover {
            opacity: 0.5;
            transition-duration: 0.1s;
        }

        #category:focus {
            opacity: 1;
        }

        #submit {
            margin-top: 25%;
            z-index: 3;
            width: 100%;
            height: 10%;            
            #bg {
                z-index: 2;
                position: relative;
                left: -5%;    
                height: 100%;
                width: 0%;
                background-color:#4ec9c1;
                transform: skewX(-20deg);
                transition-duration: 0.3s;
            }

            button[type=submit] {                            
                z-index: 4;
                position: fixed;
                background-color: transparent;
                border:2px solid #4ec9c1;
                width: 100%;
                height: 10%;
                font-size: 50px;
            }                                               
        }
        
        #submit:hover {
            #bg {
                width: 110%;
                transition-duration: 0.3s;
            }

            button[type=submit] {
                color: #1F2833;
            }
        }

        label {
            font-size: 18px;
        }
    }
}

::placeholder {
    color: #45A29E;
}